:root {
  --font-family-fraunces:"Fraunces 9pt","New Times Roman" ,serif;
  --font-family-barlow:"Barlow","Arial",sans-serif;
  --font-color-black:#333D4B;
  --font-color-white:#FEFCF7;
  --font-color-green:#0E8784;
  --font-color-dark:#2C343E;
  --font-color-orange: #FDD6BA;
  --font-color-gray:#83888F;
  --font-color-milk:#F4F1EB;
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces9pt-Bold.woff2") format("woff2"), url("../fonts/Fraunces9pt-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Fraunces 9pt","New Times Roman" ,serif;
  background-color: var(--font-color-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1350px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.container-desktop {
  padding-left: 100px;
  padding-right: 100px;
}

/* TODO HEADER ALL  */

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 40px;
}

.header__button {
  border: none;
  background-color: transparent;
  background-image: url("../img/logo-burger.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}


/* TODO NAV ALL  */

.nav {
  position: absolute;
  top: 100%;
  left: -24px;
  right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
  background-image: linear-gradient(180deg,
  #FEFCF7 45%,  rgba(254, 252, 247, 0.304981) 100%);
  background-color: rgba(204, 198, 198, 0.004);
  z-index: 1;
  height: calc(100vh - 90px);
}

.nav__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 8px;
}

.nav__item {
  padding-top: 32px;
}

.nav__link {
  text-decoration: none;
  color:var(--font-color-black);
  font-family: var(--font-family-fraunces);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.header--open .nav{
  display: block;
}

.header--open .header__button {
  background-image: url("../img/logo-cancel.svg");
  width: 14px;
  height: 13px;
}


/* TODO HERO ALL  */


.hero {
  background-image: url("../img/img-bg-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.hero__box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  color:var(--font-color-white) ;
  text-align: center;
  margin: 0;
}

.hero__text {
  font-size: 15px;
  line-height: 25px;
  font-family: var(--font-family-barlow);
  opacity: 0.8;
  color: var(--font-color-white);
  text-align: center;
  margin: 0;
  padding-top: 24px;
  margin-bottom: 40px;
}

.button {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 31px;
  padding-right: 31px;
  border: transparent ;
  border-radius: 6px;
  font-family: var(--font-family-fraunces);
}

.button--green {
  background-color: var(--font-color-green);
  color: var(--font-color-white);
}

.button--green:hover{
  background-color:#66D2CF;
}

.hero__button {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

/* TODO COLLECTION ALL  */

.collection {
  padding-top: 120px;
}

.collection__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 72px;
  font-family: var(--font-family-fraunces);
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  background-color:var(--font-color-gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0;
}

.collection__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  margin-bottom: -48px;
}

.collection__item {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.collection-item__title {
  padding-top: 24px;
  padding-bottom: 16px;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-black);
}

.collection-item__text {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  font-family: var(--font-family-barlow);
  width: 282px;
  margin-left: auto;
  margin-right: auto;
  color: var(--font-color-black);
}

/* TODO FEATURES ALL */

.features {
  position: relative;
  padding-top: 100px;
}

.features__box {
  background-color: var(--font-color-black);
  border-radius: 10px 10px 10px 10px ;
  padding-top: 64px;
}

.features-list__box {
  background-color: var(--font-color-dark);
  padding-bottom: 633px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.features__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-white);
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.features__text {
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-white);
  text-align: center;
  font-family: var(--font-family-barlow);
  opacity: 0.8;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 28px;
}

.features__list {
  position: absolute;
  top: 36px;
  left: 24px;
  right: 24px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  margin-bottom: -24px;
}

.features__item {
  border-radius: 8px;
  background-color: var(--font-color-green);
  padding-top: 200px;
  padding-bottom: 50px;
  margin-bottom: 24px;
  background-image: url("../img/logo-quality.svg");
  background-repeat: no-repeat;
  background-position: center top 72px;
  background-size: 72px 72px;
}

.features-item__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-white);
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.features-item__text{
  font-size: 15px;
  line-height: 25px;
  font-family: var(--font-family-barlow);
  color: var(--font-color-white);
  opacity: 0.8;
  text-align: center;
  padding-left: 33px;
  padding-right: 33px;
  margin: 0;
}

.features-item__benefits {
  background-image: url("../img/logo-benefits.svg");
}

.features-item__shipping {
  background-image: url("../img/logo-shipping.svg");
}

/* TODO WORK  ALL */

.work {
  padding-top: 717px;
}

.work__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.work__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--font-color-gray);
  font-family: var(--font-family-fraunces);
  text-align: center;
  margin: 0;
}

.work__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-bottom: -50px;
}

.work__item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.work-item__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: var(--font-color-black);
  font-family: var(--font-family-fraunces);
  margin: 0;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.work-item__text {
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-black);
  font-family: var(--font-family-barlow);
  margin: 0;
  text-align: center;
}

.work__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: steps;
}

.work__item {
  counter-increment: steps;
}

.work__item::before {
  display: block;
  text-align: center;
  font-size: 72px;
  line-height: 72px;
  content: '0' counter(steps);
  color: var(--font-color-orange);
}

.work__button {
  width: 217px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

/* TODO FOOTER ALL */

.footer {
  background-color: var(--font-color-dark);
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 54px;
}

.footer__img {
  width: 218px;
  margin-bottom: 24px;
}

.footer__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.footer__item {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: var(--font-color-gray);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  font-family: var(--font-family-barlow);
}

.footer-web__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.footer__link:hover {
  color: var(--font-color-white);
}

.footer-web__svg {
  fill: var(--font-color-white);
}

.footer-web__item a:hover .footer-web__svg{
  fill: var(--font-color-orange);
}


/*--------------*/
/* TODO ABOUT  */
/*------------*/


.about {
  background-image: url("../img/img-bg-hero-about-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-top: 111px;
  padding-bottom: 87px;
  padding-left: 24px;
  padding-right: 24px;
}

.about__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-white);
  margin: 0;
  margin-bottom: 24px;
}

.about__text {
  font-size: 15px;
  line-height: 25px;
  font-family: var(--font-family-barlow);
  color: var(--font-color-white);
  opacity: 0.8;
  margin: 0;
}

.commitment {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commitment__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-black);
  margin: 0;
  margin-top: 48px;
  margin-bottom: 30px;
  text-align: center;
}

.commitment__text {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--font-color-black);
  margin: 0;
  opacity: 0.8;
  font-family: var(--font-family-barlow);
}

/* QUALITY  */

.quality__box {
  padding: 142px 24px 61px 24px;
  background-color: #2C343E;
  border-radius: 8px;
  position: relative;
  margin-top: 50px;
}

.quality__heading {
  font-family: var(--font-family-fraunces);
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.quality__info {
  font-family: var(--font-family-barlow);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
}

.quality__box::before {
  position: absolute;
  top: -120px;
  left: 24px;
  right: 24px;
  z-index: 9;
  content: "";
  display: block;
  width: auto;
  height: 240px;
  background-image: url("../img/img-coffee-about-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

/* OFFICE */

.offices {
  padding-top: 120px;
  padding-bottom: 120px;
}

.offices__heading {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--font-color-gray);
  text-align: center;
  font-family: var(--secondary-font);
}

.offices__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offices__item:not(:last-child) {
  margin-bottom: 80px;
}

.offices__item::before{
  content: '';
  width: 50px;
  height: 50px;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
}

.item-office--uk::before{
  background-image: url("../img/logo-uk.svg");
}

.item-office--canada::before{
  background-image: url("../img/logo-canada.svg");
}

.item-office--au::before{
  background-image: url("../img/logo-australia.svg");
}

.item-office {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-office__heading{
  margin-top: 0;
  margin-bottom: 22px;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  font-family: var(--secondary-font);
}

.item-office__address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--font-color-black);
  text-align: center;
  font-family: var(--font-family-barlow);
}

.item-office__tel{
  text-decoration: none;
  display: block;
  color: var(--dark-grey-blue);
}


/*--------------*/
/* TODO SUBSCRIBE  */
/*------------*/


.plan {
  background-image: url("../img/img-bg-plan-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-top: 101px;
  padding-bottom: 136px;
  padding-left: 24px;
  padding-right: 24px;
}

.plan__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.plan__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-white);
  margin: 0;
  margin-bottom: 22px;
}

.plan__text {
  font-size: 15px;
  line-height: 25px;
  font-family: var(--font-family-barlow);
  color: var(--font-color-white);
  opacity: 0.8;
  margin: 0;
}

.subscribe-work{
  background-color: var(--font-color-dark);
}

.subscribe-work .work{
  margin-top: 120px;
  padding-top: 160px;
}

.subscribe-work .work-item__title {
  color: #fff;
}

.subscribe-work .work-item__text {
  color: #fff;
}

/* TODO INFO ALL  */

.info__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-gray);
  width: 240px;
  margin: 0;
}

.info-heading__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 90px;
  position: relative;
}

.info__button {
  background-color: transparent;
  border: none;
  background-image: url("../img/arrow-top.svg");
  background-repeat: no-repeat;
  background-size: 19px 12px;
  width: 19px;
  height: 12px;
  cursor: pointer;
}

.info__button::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.info__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
  display: none;
}

.info__item {
  background-color: var(--font-color-milk);
  padding: 24px;
  border-radius: 8px;
}

.info__item:not(:last-child) {
  margin-bottom: 16px;
}

.info-item__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-family-fraunces);
  color: var(--font-color-black);
  margin: 0;
  display: inline-block;
  margin-bottom: 8px;
}

.info-item__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color-black);
  font-family: var(--font-family-barlow);
  margin: 0;
}

.info__box--active .info__list{
  display: block;
}

.info__box--active .info-heading__box {
  position: relative;
}

.info__box--active .info__button::before {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.info__box--active .info__button {
  transform: rotate(180deg);
}

.info__item--active{
  background-color: var(--font-color-green);
}

.info__item--active .info-item__title{
  color: #fff;
}

.info__item--active .info-item__text {
  color:#fff;
}


/* TODO TABLET  */


@media  screen and (min-width: 740px) {

  .headear {
    display: flex;
    align-items: center;
  }

  .header__img {
    width: 236px;
  }


  /* TODO NAV TABLET  */

  .nav {
    display: block;
    position: relative;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
    height: 15px;
  }

  .nav__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    padding-top: 0;
  }

  .nav__item:not(:first-child) {
    padding-left: 33px;
  }

  .nav__link {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    font-family: var(--font-family-barlow);
    text-transform: uppercase;
    color: var(--font-color-gray);
  }

  .nav__link:hover {
    color: var(--font-color-black);
  }


  /* TODO HERO TABLET  */


  .hero {
    background-image: url("../img/img-bg-hero-tablet.jpg");
  }

  .header__button {
    display: none;
  }

  .hero__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .hero__text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }

  .hero__box {
    width: 400px;
    align-items: flex-start;
    margin-left: 58px;
    padding-left: 0;
    padding-right: 0;
  }


  /* TODO COLLECTION TABLET  */


  .collection {
    padding-top: 140px;
  }

  .collection__item {
    flex-direction: row;
  }

  .collection__list {
  margin-top: -50px;
  }

  .collection__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 72px;
    padding-bottom: 24px;
    padding-top: 0;
  }


  /* TODO FEATURES TABLET  */


  .features-list__box {
    padding-bottom: 0;
    position: static;
  }

  .features__box {
    background-color: var(--font-color-dark);
    position: relative;
    padding-bottom: 300px;
  }

  .features__list {
    top: 320px;
    width: 85%;
    left: 57px;
    right: 57px;
  }

  .features__title {
    font-size: 32px;
    line-height: 48px;
    margin-top: 56px;
  }

  .features__text {
    font-size: 15px;
    line-height: 25px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  .features__item {
    padding-left: 181px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-position:left 70px center ;
  }

  .features-item__title {
    font-size: 24px;
    line-height: 32px;
    width: 255px;
    text-align: left;
  }

  .features-item__text {
    font-size: 15px;
    line-height: 25px;
    opacity: 1;
    text-align: left;
    padding: 0;
    width: 344px;
  }

  /* TODO WORK TABLET  */

  .work__box {
    display: block;
    width: 100%;
  }

  .work__title {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    padding-bottom: 110px;
  }

  .work__list {
    display: flex;
    width: 100%;
    position: relative;
  }

  .work__item{
    width: 32%;
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .work-item__title {
    position: relative;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
    margin-top: 42px;
    margin-bottom: 38px;
    width: 200px;
  }

  .work__list::before{
    content: "";
    border: 1px solid var(--font-color-orange);
    display: block;
    width: 68%;
    height: 1px;
    position: absolute;
    top: -40px;
    left: 20px;
  }

  .work__item::before {
    text-align: left;
  }

  .work-item__title::before {
    content: "";
    border: 2px solid #0E8784;
    background-color: var(--font-color-white);
    display: block;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    position: absolute;
    top: -177px;
  }

  .work-item__text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }

  .work__button {
    font-size: 18px;
  line-height: 25px;
  }

  .footer {
    margin-top: 94px;
  }

  .footer__list {
    display: flex;
    margin-left: -33px;
  }

  .footer__item {
    margin-left: 33px;
  }


  /*--------------*/
  /* TODO ABOUT TABLET  */
  /*------------*/


  .about {
    background-image: url("../img/img-bg-hero-about-tablet.jpg");
    padding-bottom: 118px;
    padding-left: 58px;
    padding-top: 118px;
  }

  .about__box{
    align-items: flex-start;
    text-align: left;
  }

  .about__title {
    font-size: 32px;
    line-height: 40px;
  }

  .about__text {
    width: 398px;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
  }

  /* TODO COMMITMENT TABLET  */

  .commitment__img {
    width: 281px;
    height: 470px;
  }

  .commitment {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .commitment__box {
    padding-left: 70px;
  }

  .commitment__title {
    text-align: left;
    font-size: 32px;
    line-height: 48px;
    width: 339px;
    margin-top: 8px;
  }

  .commitment__text {
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    width: 339px;
  }

  /* QUALITY  */

  .quality__box {
    margin-top: 150px;
    padding-top: 220px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 67px;
  }

  .quality__box::before{
    background-image: url("../img/img-coffee-about-tablet.jpg");
    height: 340px;
    top: -170px;
  }

  .quality__heading {
    font-size: 32px;
    line-height: 48px;
  }

  .quality__info {
    font-size: 15px;
    line-height: 25px;
  }

  /* OFFICES  */

  .offices__heading {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
  }

  .offices__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .offices__item {
    margin-bottom: 0 !important;
    width: 30%;
  }

  .offices__item::before {
    margin-right: auto;
  }

  .item-office__heading {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin-right: auto;
  }

  .item-office__address {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin-right: auto;
  }


  /*--------------*/
  /* TODO SUBSCRIBE TABLET */
  /*------------*/


  .plan {
    background-image: url("../img/img-bg-plan-tablet.jpg");
    padding-bottom: 126px;
    padding-left: 58px;
    padding-top: 126px;
  }

  .plan__box{
    align-items: flex-start;
    text-align: left;
  }

  .plan__title {
    font-size: 48px;
    line-height: 48px;
  }

  .plan__text {
    width: 398px;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
  }
}


/* TODO DESKTOP  */


@media screen and (min-width: 1100px){

  /* TODO HERO DESKTOP  */

  .hero {
    background-image: url("../img/img-bg-hero-desktop.jpg");
  }

  .hero__box {
    margin-left: 85px;
  }

  /* TODO COLLETCTION DESKTOP  */

  .collection__list {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
  }

  .collection__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
  }

  .collection-item__title {
    padding-top: 70px;
    padding-bottom: 16px;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--font-family-fraunces);
    color: var(--font-color-black);
  }

  .collection-item__text {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--font-family-barlow);
    margin-left: auto;
    margin-right: auto;
    color: var(--font-color-black);
    width: 255px;
    text-align: center;
  }

  /* TODO FEATURES DESKTOP  */

  .features__box {
    width: 100%;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 230px;
  }

  .features__list {
    display: flex;
    width: 96%;
    left: 85px;
    right: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  .features__item {
    width: 28%;
    background-position: top 72px center;
    padding-top: 200px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
  }

  .features__item:not(:last-child){
    margin-right: 2.3%;
  }

  .features-item__title {
    text-align: center;
    width: 100%;
  }

  .features-item__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 100%;
  }


  /* TODO WORK DESKTOP  */

  .work__box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .work-item__title {
    font-size: 32px;
    line-height: 36px;
  }

  .work-item__text {
    font-size: 16px;
    line-height: 26px;
  }

  .work__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .work__item{
    width: 31%;
  }

  /* TODO FOOTER DESKTOP  */

  .footer {
    flex-direction: row;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 85px;
    padding-right: 85px;
  }

  .footer__img {
    margin-bottom: 0;
    margin-right: 100px;
  }

  .footer__list {
    margin-right: auto;
  }

  .footer-web__list {
    margin: 0;
  }

  .footer__item {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*--------------*/
  /* TODO ABOUT DESKTOP  */
  /*------------*/

  .about {
    background-image: url("../img/img-bg-hero-about-dessktop.jpg");
    padding-left: 85px;
    padding-top: 137px;
    padding-bottom: 137px;
  }

  .about__title {
    font-size: 40px;
    line-height: 48px;
  }

  .about__text {
    width: 445px;
    font-size: 16px;
    line-height: 26px;
  }

  /* TODO COMMITMENT DESKTOP  */

  .commitment__img {
    width: 445px;
    height: 520px;
  }

  .commitment {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
  }

  .commitment__box {
    padding-left: 125px;
  }

  .commitment__title {
    text-align: left;
    font-size: 40px;
    line-height: 48px;
    width: 540px;
    margin-top: 8px;
  }

  .commitment__text {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    width: 339px;
  }

  /* QUALITY  */

  .quality__box::before {
    background-image: url("../img/img-coffee-about-desktop.jpg");
    width: 445px;
    height: 474px;
    top: -80px;
    left: auto;
    right: 40px;
  }

  .quality__wrapper {
    width: 55%;
  }

  .quality__heading {
    font-size: 40px;
    line-height: 48px;
    text-align: left;
  }

  .quality__info {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  /* OFFICES  */

  .offices {
    padding-bottom: 40px;
  }

  .item-offices__heading {
    font-size: 32px;
    line-height: 36px;
  }

  .item-office__address {
    font-size: 16px;
    line-height: 26px;
  }


  /*--------------*/
  /* TODO SUBSCRIBE DESKTOP */
  /*------------*/

  .plan {
    background-image: url("../img/img-bg-plan-desktop.jpg");
    padding-left: 85px;
    padding-top: 134px;
    padding-bottom: 134px;
  }

  .plan__title {
    font-size: 72px;
    line-height: 72px;
  }

  .plan__text {
  width: 445px;
  font-size: 16px;
  line-height: 26px;
  }
}
